.show-o {
    opacity: 1;
}

.show-d {
    display: inline-block;
}

.display-i {
    display: inline;
}

.back-black {
    background-color: black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.gray {
    color: #808080;
}

.text-grey {
    color: #808080;
    font-size: 13px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.flex-colm {
    flex-direction: column;
}

.s-bet {
    justify-content: space-between;
}

.s-aro {
    justify-content: space-around;
}

.s-eve {
    justify-content: space-evenly;
}

.p0 {
    padding: 0px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.pb10 {
    padding-bottom: 10px;
}

.pad-h0 {
    padding-right: 0px;
    padding-left: 0px;
}

.pad-v0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.m-auto {
    margin: 0px auto;
}

.m0 {
    margin: 0px;
}

.m-v0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.white_button {
    background-color: white;
    border: 0px solid white;
}

.w0 {
    width: 0%;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33%;
}

.w34 {
    width: 34%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w44 {
    width: 44%;
}

.w45 {
    width: 45%;
}

.w46 {
    width: 46%;
}

.w47 {
    width: 47%;
}

.w48 {
    width: 48%;
}

.w49 {
    width: 49%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.vw0 {
    width: 0vw;
}

.vw5 {
    width: 5vw;
}

.vw10 {
    width: 10vw;
}

.vw15 {
    width: 15vw;
}

.vw20 {
    width: 20vw;
}

.vw25 {
    width: 25vw;
}

.vw30 {
    width: 30vw;
}

.vw35 {
    width: 35vw;
}

.vw40 {
    width: 40vw;
}

.vw45 {
    width: 45vw;
}

.vw50 {
    width: 50vw;
}

.vw55 {
    width: 55vw;
}

.vw60 {
    width: 60vw;
}

.vw65 {
    width: 65vw;
}

.vw70 {
    width: 70vw;
}

.vw75 {
    width: 75vw;
}

.vw80 {
    width: 80vw;
}

.vw85 {
    width: 85vw;
}

.vw90 {
    width: 90vw;
}

.vw95 {
    width: 95vw;
}

.vw100 {
    width: 100vw;
}

.vh5 {
    height: 5vh;
}

.vh10 {
    height: 10vh;
}

.vh15 {
    height: 15vh;
}

.vh20 {
    height: 20vh;
}

.vh25 {
    height: 25vh;
}

.vh30 {
    height: 30vh;
}

.vh35 {
    height: 35vh;
}

.vh40 {
    height: 40vh;
}

.vh45 {
    height: 45vh;
}

.vh50 {
    height: 50vh;
}

.vh55 {
    height: 55vh;
}

.vh60 {
    height: 60vh;
}

.vh65 {
    height: 65vh;
}

.vh70 {
    height: 70vh;
}

.vh75 {
    height: 75vh;
}

.vh80 {
    height: 80vh;
}

.vh85 {
    height: 85vh;
}

.vh90 {
    height: 90vh;
}

.vh95 {
    height: 95vh;
}

.vh100 {
    height: 100vh;
}

.w-auto {
    width: auto;
}

.h20 {
    height: 20%;
}

.h25 {
    height: 25%;
}

.h30 {
    height: 30%;
}

.h35 {
    height: 35%;
}

.h40 {
    height: 40%;
}

.h45 {
    height: 45%;
}

.h50 {
    height: 50%;
}

.h55 {
    height: 55%;
}

.h60 {
    height: 60%;
}

.h65 {
    height: 65%;
}

.h70 {
    height: 70%;
}

.h100 {
    height: 100%;
}

.h500 {
    height: 500px;
}

.h700 {
    height: 700px;
}

.h-auto {
    height: auto;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}
