@font-face {
    font-family: 'Pretendard-R';
    font-weight: 400;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard-M';
    font-weight: 500;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard-SB';
    font-weight: 500;
    src: local('Pretendard SemiBold'), url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard-EB';
    font-weight: 500;
    src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard-B';
    font-weight: 500;
    src: local('Pretendard Black'), url(../fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPub-Dotum-M';
    font-weight: 500;
    src: local('KoPub Dotum Medium'), url(/public/fonts/KoPub-Dotum-Medium.ttf) format('truetype');
}

* {
    font-family: 'Pretendard-R';
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f3f5;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

form {
    z-index: 10;
}

ul.nav-main {
    list-style-type: none;
    padding: 0px;
}

nav {
    background-color: #f2f3f5;
    display: flex;
    justify-content: center;
}

.white_div {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.2);
}

nav {
    /* background-color: rgb(202, 204, 176); */
    background-color: #88c2dd;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-main {
    position: relative;
    z-index: 5;
    width: 65vw;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-links {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-title {
    font-family: 'JSArirang-Regular';
    cursor: pointer;
    font-size: 25px;
}

a.nav-title,
a.nav-title:visited {
    text-decoration: none;
    color: black;
}

.page-main {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
}

.main-Title {
    margin: 0px 0px 25px 0px;
    font-family: 'Pretendard-R';
}

.form-info {
    position: relative;
    margin-bottom: 20px;
}

.input-info {
    width: 100%;
    height: 50px;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.fontasm-c {
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    right: 10px;
}

.fontasm-v {
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    right: 30px;
}

#submit {
    background-color: white;
    color: black;
    padding: 9px 18px;
    border-radius: 0.5rem;
}

.form-info {
    position: relative;
    margin-bottom: 20px;
}

.form-inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.form-inner::-webkit-scrollbar {
    width: 10px;
}

.form-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.form-inner::-webkit-scrollbar-track {
    opacity: 0;
}

#submit {
    background-color: white;
    color: black;
    padding: 9px 18px;
    border-radius: 0.5rem;
}

.carousel-texts {
    text-align: center;
    font-size: 25px;
}

.media-img {
    width: 300px;
    height: 26px;
}

a img {
    filter: invert(100%);
}

.chart-google {
    /*border-right: 1px solid black;*/
}

.vertical {
    width: 1px;
    height: 500px;
    border: none;
    background-color: black;
}

.chart-control {
    /*border:1px solid black;*/
    width: 20vw;
    height: 500px;
}

.crs-n-btn {
    width: 100%;
}

.btn-start {
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.2);
    height: 60px;
    right: 0;
}

ul.standings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.standings {
    overflow-y: scroll;
    height: 100%;
}

.standings::-webkit-scrollbar {
    width: 10px;
}

.standings::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.standings::-webkit-scrollbar-track {
    opacity: 0;
}

.standing-info {
    display: flex;
    align-items: center;
    height: 70px;
    border-top: 1px solid #808080;
    transition: 0.3s all;
    overflow-x: hidden;
    border-collapse: collapse;
    background-color: #ffffff;
}

.standing-info:hover {
    box-shadow: -5px 5px 3px 1px rgba(0, 0, 0, 0.2);
    transform: translate(5px, -5px);
    overflow-x: hidden;
}

.standing-info img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.standing-country {
    font-size: 12px;
    color: #808080;
}

.view-more {
    margin-right: 10px;
    cursor: pointer;
}

.standing-info-profile {
    margin-left: 10px;
}

.info-profile img {
    width: 60px;
    height: 60px;
}

.myinfo {
    overflow-y: scroll;
    height: 100%;
}

.myinfo::-webkit-scrollbar {
    width: 10px;
}

.myinfo::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.myinfo::-webkit-scrollbar-track {
    opacity: 0;
}

.myinfo-profile img {
    width: 40px;
    height: 40px;
}

.myinfo-country {
    margin: 0;
    font-size: 24px;
}

.myinfo-nickname {
}
