@font-face {
    font-family: 'Pretendard-R';
    font-weight: 400;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPub-Dotum-M';
    font-weight: 500;
    src: local('KoPub Dotum Medium'), url(/public/fonts/KoPub-Dotum-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'news-fnt';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Pretendard-R';
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f3f5;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.fa-eye,
.fa-xmark {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul.nav-main {
    list-style-type: none;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: center;
}

.white-div {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition: 0.1s all;
    z-index: 2;
}

button.white-div {
    border: 2px solid #000000;
    color: #000000;
}

button.white-div:active {
    transform: scale(0.95);
    box-shadow: none;
}

nav {
    background-color: #aab9ff;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-main {
    position: relative;
    z-index: 5;
    width: 65vw;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-family: 'JSArirang-Regular';
    font-size: 25px;
}

.page-main {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
}

.login-plz {
    width: 30vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #808080;
    opacity: 0.5;
    filter: blur(8px);
    transform: translate(-30px, -30px);
    z-index: 5;
    cursor: pointer;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-info {
    position: relative;
    margin-bottom: 20px;
}

.input-info {
    width: 100%;
    height: 50px;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: all 0.2s;
    background: white;
}

.input-info:focus {
    border: 2px solid #aab9ff;
    outline: none;
}

.fontasm-c {
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    right: 10px;
}

.fontasm-v {
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    right: 30px;
}

.fontasm-i {
    margin-left: 1px;
    color: #ffffff; /* 텍스트의 색상 */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* 검은색 테두리 */
}

#submit {
    background-color: white;
    color: black;
    padding: 9px 18px;
    border-radius: 0.5rem;
}

.disable {
    filter: blur(3px);
    cursor: default;
}

.disable:active {
    transform: none !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) !important;
}

.form-info {
    position: relative;
    margin-bottom: 20px;
}

.form-inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.form-inner::-webkit-scrollbar {
    width: 10px;
}

.form-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.form-inner::-webkit-scrollbar-track {
    opacity: 0;
}

.form-inner.info {
    padding-right: 0;
}

.carousel-texts {
    text-align: center;
    font-size: 25px;
}

.vertical {
    width: 1px;
    height: 500px;
    border: none;
    background-color: black;
}

.crs-n-btn {
    width: 100%;
}

.btn-start {
    height: 60px;
    background-color: #ffffff;
    color: white;
    right: 0;
}

.btn-buy {
    border: 3px solid #27ae60 !important;
    background-color: #2ecc71;
}

.btn-sell {
    border: 3px solid #ffa5a5 !important;
    background-color: #ff4d4d;
}

.notice {
    text-align: center;
    background-color: #aab9ff !important;
}

.notice.centering {
    z-index: 0;
}

input#quantity {
    z-index: 50;
}

#chart .apexcharts-title-text {
    font-family: 'Pretendard-R' !important;
    font-size: 20px;
}

ul.info-standings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.info-standings {
    overflow-y: scroll;
    height: 100%;
}

.info-standings::-webkit-scrollbar {
    width: 10px;
}

.info-standings::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.info-standings::-webkit-scrollbar-track {
    opacity: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.standing-info {
    display: flex;
    align-items: center;
    height: 70px;
    transition: 0.3s all;
    overflow-x: hidden;
    background-color: #ffffff;
}
.standing-info:nth-of-type(odd) {
    background-color: #dbdcdc;
}

.standing-info:hover {
    box-shadow: -5px 5px 3px 1px rgba(0, 0, 0, 0.2);
    transform: translate(5px, -5px);
    overflow-x: hidden;
}

.standing-info img {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

.standing-country {
    font-size: 12px;
    color: #808080;
}

.view-more {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

#go-login {
    position: absolute;
    transform: translate(-30px, -30px);
}

#standing,
#info {
    bottom: 10px;
    right: 10px;
}

.standing-info-profile {
    font-size: 15px;
    flex-direction: column;
}

.info-profile img {
    width: 60px;
    height: 60px;
}

.myinfo-info {
    font-size: 16px;
}

.info-btn {
    padding: 10px 15px;
}

.myinfo::-webkit-scrollbar {
    width: 10px;
}

.myinfo::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.myinfo::-webkit-scrollbar-track {
    opacity: 0;
}

.myinfo-profile img {
    width: 40px;
    height: 40px;
}

.myinfo-country {
    margin: 0;
    font-size: 24px;
}

.myinfo-determination {
    font-size: 40px;
}

.logout {
    transform: rotate(180deg);
}

#ol {
    overflow-y: hidden;
}

.gray-box {
    border: 3px solid #f2f3f5;
    background-color: #f2f3f5;
    border-radius: 15px;
    padding: 20px;
}

.order-box.gray-box {
    border: 3px solid #f2f3f5;
}

.order-box {
    opacity: 0;
    transition: opacity 0.3s;
}

.game {
    caret-color: #aab9ff;
    font-size: 20px;
    background-color: #f2f3f5;
    font-weight: bold;
    transition: all 0.3s;
    box-sizing: content-box;
}

input.game {
    width: 80px;
    text-align: right;
    border: 3px solid #000000;
    border-radius: 5px;
}

input.game:focus {
    border: 3px solid #aab9ff;
    outline: none;
}

.news-content {
    position: absolute;
    left: 50%;
    top: 32px;
    opacity: 0.8;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-family: 'news-fnt';
    border-radius: 10px;
    opacity: 0;
    z-index: 9;
    width: 550px;
    height: 100px;
    background-color: #ccc;
    transform: translate(-50%);
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gameResult {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #aab9ff;
    transition: all 0.5s;
}

.notice {
    z-index: 11;
}

#timer {
    top: 0;
    font-size: 1.4rem;
    font-weight: 700;
}

#stock-order {
    margin-right: 25px;
}

#order-list {
    display: flex;
    flex-direction: column;
}

#order-list > .order-box {
    overflow-y: scroll;
}

#order-list ul {
    list-style-type: none;
    padding: 0;
}

.selected {
    border: 3px solid #aab9ff !important;
}

#order-list ul {
    overflow-y: scroll;
}

#order-list ul::-webkit-scrollbar {
    width: 10px;
}

#order-list ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

#order-list ul::-webkit-scrollbar-track {
    opacity: 0;
}

#ordder-list ul > li:nth-last-child() {
    margin-bottom: 0px;
}

/*태블릿, 모바일 페이지*/
@media screen and (max-width: 1150px) {
    body {
        overflow-y: scroll !important;
    }

    a[href='login.php'] {
        font-size: 15px;
    }

    button[type='submit'] {
        margin-bottom: 20px;
    }

    button.mb0 {
        margin-bottom: 0px;
    }

    #index,
    #findAccount,
    #login,
    #standings,
    #signup,
    #info,
    #find-id,
    #find-pw,
    #info-myinfo,
    #info-edit,
    #result {
        width: 90vw !important;
    }

    #colm {
        flex-direction: column;
    }

    #colm > .w45 {
        width: 90vw;
    }

    .nav-main {
        width: 90vw;
        height: 50px;
    }

    .nav-title {
        font-size: 20px;
    }

    .nav-links {
        font-size: 15px;
    }

    .center-links {
        position: absolute;
        top: 70px;
        left: 50%;
    }

    #page-infos,
    #find,
    #dis-b {
        display: block;
    }

    /*index.php*/
    .carousel-texts {
        font-size: 17px;
    }

    .crs-n-btn > .vw20 {
        width: 35vw;
    }

    .vw20.p-absolute {
        width: 40vw;
        left: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .btn-start.vw10 {
        width: 35vw;
    }

    #page-standings,
    #page-myinfo,
    .login-plz,
    #go-login.vw30.vh40 {
        width: 90vw;
        height: 50vh;
    }

    /*game.php*/
    #chart-interFace {
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #chart {
        width: 80vw !important;
        height: 50vh !important;
    }

    #chart-interFace > .flex {
        flex-direction: column;
        width: 80vw;
    }

    #chart-interFace > .flex > #stock-order,
    #chart-interFace > .flex > #order-list {
        width: 100%;
        margin-right: 0;
    }

    #chart-interFace .vw15 {
        width: 100%;
    }

    #stock-order {
        margin-bottom: 20px;
    }

    .notice {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        z-index: 999;
    }

    .notice.vw20 {
        width: 90vw;
    }
}

/*모바일 페이지 간격 조정*/
@media screen and (max-width: 1000px) and (max-height: 500px) {
    #carouselExampleAutoplaying {
        margin: 0px !important;
    }

    #page-standings,
    #page-myinfo {
        width: 90vw;
        height: 70vh;
    }
}

.ranker {
    background: linear-gradient(to right, #cd8453 20%, #00affa 30%, #0190cd 70%, #cd7653 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
